<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="accountBinding1" />
                <binding name="accountBinding" />
                <binding name="financialBinding" />
                <binding name="aioBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://aio.gencutopia.com/ws/rpc/account/account.php"
                binding="basicHttpBinding" bindingConfiguration="accountBinding1"
                contract="userprofile.accountPortType" name="accountPort1" />
            <endpoint address="http://aio.gencutopia.com/ws/rpc/financial/financial.php"
                binding="basicHttpBinding" bindingConfiguration="financialBinding"
                contract="FinancialWebService.financialPortType" name="financialPort" />
            <endpoint address="http://aio.gencutopia.com/ws/rpc/account/account.php"
                binding="basicHttpBinding" bindingConfiguration="accountBinding"
                contract="AccountWebService.accountPortType" name="accountPort" />
            <endpoint address="http://aio.gencutopia.com/ws/rpc/aio/aio.php"
                binding="basicHttpBinding" bindingConfiguration="aioBinding"
                contract="AIOWebService.aioPortType" name="aioPort" />
        </client>
    </system.serviceModel>
</configuration>