<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="accountBinding1" />
                <binding name="accountBinding" />
                <binding name="invoiceBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://aio.gencutopia.com/ws/rpc/account/account.php"
                binding="basicHttpBinding" bindingConfiguration="accountBinding1"
                contract="userprofile.accountPortType" name="accountPort1" />
            <endpoint address="http://aio.gencutopia.com/ws/rpc/account/account.php"
                binding="basicHttpBinding" bindingConfiguration="accountBinding"
                contract="AccountWebService.accountPortType" name="accountPort" />
            <endpoint address="http://aio.gencutopia.com/ws/rpc/invoice/invoice.php"
                binding="basicHttpBinding" bindingConfiguration="invoiceBinding"
                contract="FinancialWebService.invoicePortType" name="invoicePort" />
        </client>
    </system.serviceModel>
</configuration>